<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <title>Studio projektowania wnętrz Akwadrat</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta charset="UTF-8">
    <meta name="description" content="Studio projektowania wnętrz">
    <meta name="keywords" content="Wnętrza, Architekt wnętrz, Studio projektowania, Akwadrat">
    <meta name="author" content="Aleksander Folfas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/images/icon_akwadrat.png">
    <script src="~/js/site.js"></script>
</head>

<body>
    <header>
        <partial name="_Menu.cshtml" /> 
    </header>
    <div class="container" style="padding:0px">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer>AkwadratDesign.pl, 2023 All right reserved &copy;.</footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
