<div class="container">
    <div class="logo">
        <img src="~/images/icon_akwadrat.png" alt="logo">
        <h1>Akwadrat</h1>
    </div>
    <nav>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Portfolio" asp-action="Portfolio">Portfolio</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Contact">Kontakt</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="About">A. Osypanka</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Collaborations" asp-action="Collaborations">Współpraca</a>
    </nav>
</div>