<div class="side-menu-container">
    <nav class="side-menu">
        <a class="toSec1" href="#mainpage">
            <div>
                <i class="fa fa-home"></i>
            </div>
        </a>
        <a class="toSec2" href="#services">
            <div>
                <i class="fa fa-question"></i>
            </div>
        </a>
        <a class="toSec3" href="#projects">
            <div>
                <i class="fa fa-briefcase"></i>
            </div>
        </a>
        <a class="toSec4" href="#contact">
            <div>
                <i class="fa fa-address-card"></i>
            </div>
        </a>
    </nav>
</div>