@{
    ViewData["Title"] = "Strona główna";
}

<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <title>Studio projektowania wnętrz Akwadrat</title>
    <link rel="stylesheet" media="screen" href="Styles/Style.css">
    <meta charset="UTF-8">
    <meta name="description" content="Studio projektowania wnętrz">
    <meta name="keywords" content="Wnętrza, Architekt wnętrz, Studio projektowania, Akwadrat">
    <meta name="author" content="Aleksander Folfas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="Images/icon_akwadrat.png">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="Images/icon_akwadrat.png" alt="logo">
                <h1>Akwadrat</h1>
            </div>
            <nav>
                <a href="#mainpage">Strona Główna</a>
                <a href="#services">Oferta</a>
                <a href="#projects">Realizacje</a>
                <a href="#contact">Kontakt</a>
                <a href="#o-mnie">O mnie</a>
                <a href="#wspolpraca">Współpraca</a>
            </nav>
        </div>
    </header>

    <div class="side-menu-container" id="partialZone">

    </div>

    @section Scripts {
        <script>
            $('#partialZone').load("/Home/MenuPartial")
        </script>
    }

    <main>

        <section id="mainpage" class="banner">
            <div class="container">

                <h1>Studio projektowania wnętrz</h1>

                <h3><span>Gwarantujemy</span>, że do każdego zlecenia podchodzimy indywidualnie, dzięki czemu przygotowany przez nas projekt na pewno spełni Państwa oczekiwania.</h3>

                <a href="#" class="button">Sprawdź naszą ofertę</a>

            </div>
        </section>

        <section id="services" class="services">
            <div class="container">
                <h2>Oferta</h2>
                <div class="services-grid">

                    <div class="service">
                        <figure class="img-box">
                            <img src="Images/mieszkanie1.jpg" alt="Mieszkanie" class="img">
                        </figure>
                        <div class="content">
                            <h3>Mieszkania</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Cum reprehenderit officiis beatae magni dolor quia, sint nisi dolores quam?
                                Aliquid aut ex deleniti dolor excepturi quis nulla nisi rerum molestiae?
                            </p>
                        </div>
                    </div>

                    <div class="service">
                        <figure class="img-box">
                            <img src="Images/kuchnia1.jpg" alt="Kuchnia" class="img">
                        </figure>
                        <div class="content">
                            <h3>Kuchnie</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Cum reprehenderit officiis beatae magni dolor quia, sint nisi dolores quam?
                                Aliquid aut ex deleniti dolor excepturi quis nulla nisi rerum molestiae?
                            </p>
                        </div>
                    </div>

                    <div class="service">
                        <figure class="img-box">
                            <img src="Images/lazienka2.jpg" alt="Łazienka" class="img">
                        </figure>
                        <div class="content">
                            <h3>Łazienki</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Cum reprehenderit officiis beatae magni dolor quia, sint nisi dolores quam?
                                Aliquid aut ex deleniti dolor excepturi quis nulla nisi rerum molestiae?
                            </p>
                        </div>
                    </div>

                    <div class="service">
                        <figure class="img-box">
                            <img src="Images/sala1.jpg" alt="Sala konfrerencyjna" class="img">
                        </figure>
                        <div class="content">
                            <h3>Sale konfrerencyjne</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Cum reprehenderit officiis beatae magni dolor quia, sint nisi dolores quam?
                                Aliquid aut ex deleniti dolor excepturi quis nulla nisi rerum molestiae?
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="projects" id="projects">
            <div class="container">
                <h2>Realizacje</h2>

                <div class="projects-grid">

                    <div class="project">
                        <div class="content">
                            <h3>Project 1</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis dolor optio alias distinctio ea architecto id ex dolores officiis
                                at sapiente maxime, soluta saepe ad, dolore tenetur voluptas totam nihil.
                            </p>
                            <a href="#" class="button">Sprawdź</a>
                        </div>
                    </div>

                    <div class="project">
                        <div class="content">
                            <h3>Project 2</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis dolor optio alias distinctio ea architecto id ex dolores officiis
                                at sapiente maxime, soluta saepe ad, dolore tenetur voluptas totam nihil.
                            </p>
                            <a href="#" class="button">Sprawdź</a>
                        </div>
                    </div>

                    <div class="project">
                        <div class="content">
                            <h3>Project 3</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis dolor optio alias distinctio ea architecto id ex dolores officiis
                                at sapiente maxime, soluta saepe ad, dolore tenetur voluptas totam nihil.
                            </p>
                            <a href="#" class="button">Sprawdź</a>
                        </div>
                    </div>

                    <div class="project">
                        <div class="content">
                            <h3>Project 4</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis dolor optio alias distinctio ea architecto id ex dolores officiis
                                at sapiente maxime, soluta saepe ad, dolore tenetur voluptas totam nihil.
                            </p>
                            <a href="#" class="button">Sprawdź</a>
                        </div>
                    </div>

                    <div class="project">
                        <div class="content">
                            <h3>Project 5</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis dolor optio alias distinctio ea architecto id ex dolores officiis
                                at sapiente maxime, soluta saepe ad, dolore tenetur voluptas totam nihil.
                            </p>
                            <a href="#" class="button">Sprawdź</a>
                        </div>
                    </div>

                    <div class="project">
                        <div class="content">
                            <h3>Project 6</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis dolor optio alias distinctio ea architecto id ex dolores officiis
                                at sapiente maxime, soluta saepe ad, dolore tenetur voluptas totam nihil.
                            </p>
                            <a href="#" class="button">Sprawdź</a>
                        </div>
                    </div>

                </div>
                <div class="center">
                    <a href="#" class="button">Zobacz więcej</a>
                </div>
            </div>
        </section>

        <section class="contact" id="contact">
            <div class="container">
                <h2>Kontakt</h2>
                <form>
                    <div class="contact-grid">
                        <input type="text" name="name" id="name" placeholder="Imię i nazwisko" class="form-element">
                        <input type="email" name="email" id="email" placeholder="E-mail" class="form-element">
                        <textarea name="message" id="message" placeholder="Wiadomość" class="form-area"></textarea>
                    </div>
                    <div class="align" style="text-align: right;">
                        <input type="submit" value="Wyślij" class="button">
                    </div>
                </form>
            </div>
        </section>

    </main>
    <footer>Aleksander Folfas, 2023 All right reserved &copy;.</footer>
    <script src="Scripts/script.js"></script>
</body>
</html>

