@{
    ViewData["Title"] = "Strona główna";
}

<!DOCTYPE html>
<html lang="pl-pl">

<head>
    <title>Studio projektowania wnętrz Akwadrat</title>
    <link rel="stylesheet" media="screen" href="Styles/Style.css">
    <meta charset="UTF-8">
    <meta name="description" content="Studio projektowania wnętrz">
    <meta name="keywords" content="Wnętrza, Architekt wnętrz, Studio projektowania, Akwadrat">
    <meta name="author" content="Aleksander Folfas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="Images/icon_akwadrat.png">
</head>

<body>
    <main>
        <section id="mainpage" class="banner">
            <div class="container">

                <h1>Studio projektowania wnętrz</h1>

                <h3><span>Gwarantujemy</span>, że do każdego zlecenia podchodzimy indywidualnie, dzięki czemu przygotowany przez nas projekt na pewno spełni Państwa oczekiwania.</h3>

                <a href="#" class="button">Sprawdź naszą ofertę</a>

            </div>
        </section>
    </main>
    <script src="Scripts/script.js"></script>
</body>
</html>

