@{
    ViewData["Title"] = "Strona główna";
}
<body>
    <main>
        <section id="mainpage" class="banner">
            <div class="container">

                <h1>Studio projektowania wnętrz</h1>

                <h3><span>Gwarantujemy</span>, że do każdego zlecenia podchodzimy indywidualnie, dzięki czemu przygotowany przez nas projekt na pewno spełni Państwa oczekiwania.</h3>

                <a href="#" class="button">Sprawdź naszą ofertę</a>

            </div>
        </section>
    </main>
    <script src="~/js/site.js"></script>
</body>
