@{
    ViewData["Title"] = "Strona główna";
}
<body>
    <main>
        <section id="mainpage" class="banner">
            <div class="container">

                <h2>Dobre wnętrze to całość. Architektura – układ ścian, proporcje przestrzeni i rozwiązanie funkcji. To także kolorystyka, odpowiedni dobór materiałów, elementów wyposażenia, a nawet gra zmieniającego się światła.</h2>

                <h3><span></span> </h3>

                <a class="button" asp-area="" asp-controller="About" asp-action="About">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <span class="button__text">Więcej o nas</span>
                    <div class="button__drow1"></div>
                    <div class="button__drow2"></div>
                </a>

            </div>
        </section>
    </main>
    <script src="~/js/site.js"></script>
</body>
