@{
    ViewData["Title"] = "Agnieszka Osypanka";
}

<body>
    <main>
        <section id="about" class="about">
            <div class="container">
                <img src="~/images//sala1.jpg" alt="Sala konfrerencyjna" class="img">
            </div>
        </section>
    </main>
    <script src="~/js/site.js"></script>
</body>
