:root {
    --text: #fffff;
    --background: #ffffff;
    --site1: #9B8d6f;
    --site2: #D8CCC0;
    --after: #433c3c;
    --line_color: white;
    --back_color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;
}


/*.button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    color: var(--background);
    background-color: var(--site1);
    padding: 16px 32px;
    font-size: 20;
    border-radius: 8px;
    font-weight: 200;
}*/

.button {
    position: relative;
    z-index: 0;
    width: 300px;
    height: 56px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    padding: 16px 32px;
    color: var(--line_color);
    letter-spacing: 2px;
    transition: all .3s ease;
}

.button__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

    .button::before,
    .button::after,
    .button__text::before,
    .button__text::after {
        content: '';
        position: absolute;
        height: 3px;
        border-radius: 0px;
        background: var(--line_color);
        transition: all .5s ease;
    }

.button::before {
    top: 0;
    left: 54px;
    width: calc( 100% - 56px * 2 - 16px );
}

.button::after {
    top: 0;
    right: 54px;
    width: 8px;
}

.button__text::before {
    bottom: 0;
    right: 54px;
    width: calc( 100% - 56px * 2 - 16px );
}

.button__text::after {
    bottom: 0;
    left: 54px;
    width: 8px;
}

.button__line {
    position: absolute;
    top: 0;
    width: 56px;
    height: 100%;
    overflow: hidden;
}

    .button__line::before {
        content: '';
        position: absolute;
        top: 0;
        width: 150%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 0px;
        border: solid 3px var(--line_color);
    }

    .button__line:nth-child(1),
    .button__line:nth-child(1)::before {
        left: 0;
    }

    .button__line:nth-child(2),
    .button__line:nth-child(2)::before {
        right: 0;
    }

.button:hover {
    letter-spacing: 6px;
}

    .button:hover::before,
    .button:hover .button__text::before {
        width: 8px;
    }

    .button:hover::after,
    .button:hover .button__text::after {
        width: calc( 100% - 56px * 2 - 16px );
    }



.button:hover .button__drow1 {
    
    animation-fill-mode: forwards;
}

    .button:hover  {
        
        animation-fill-mode: forwards;
    }

    .button:hover  {
        
        animation-fill-mode: forwards;
    }

.button:hover {
    
    animation-fill-mode: forwards;
}

    .button:hover  {
       
        animation-fill-mode: forwards;
    }

    .button:hover  {
        
        animation-fill-mode: forwards;
    }




img {
    max-width: 100%;
}

header {
    color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

    header.is-hidden {
        opacity: 0;
        transition: opacity 0.3s ease-out;
        pointer-events: none;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 32px;
        padding-top: 32px;
    }

        header .container .logo {
            display: flex;
            align-items: center;
        }

header img {
    width: 30px;
    height: 30px;
}

header h1 {
    padding-left: 10px;
    font-size: 30px;
    text-transform: uppercase;
}

header .container nav {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(6, auto);
}

    header .container nav a {
        color: var(--background);
        text-decoration: none;
        font-size: 20px;
    }

.side-menu-container, .side-menu, .side-menu > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.side-menu-container {
    z-index: 99;
    position: fixed;
    height: 100vh;
    left: 0px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    pointer-events: none;
}

    .side-menu-container.is-visible {
        opacity: 1;
        transition: opacity 0.3s ease-in;
        pointer-events: all;
    }

.side-menu > a {
    margin: 5px 0px;
    height: 40px;
    background-color: grey;
}

    .side-menu > a:hover {
        margin: 5px 0px;
        height: 40px;
        color: #fff;
        background-color: #000;
    }

section h2 {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 32px;
    color: var(--text);
}

section .container {
    padding: 32px;
}

.banner {
    color: var(--background);
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../Images/mieszkanie1.jpg);
    background-position: center left;
    background-size: cover;
}

    .banner::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: var(--after);
        opacity: 0.5;
    }

    .banner .container {
        z-index: 1;
        position: relative;
        color: var(--background);
        padding: 0 128px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .banner .container h2 {
            font-size: 40px;
            font-weight: 100;
            margin-bottom: 16px;
        }

        .banner .container h3 {
            font-size: 24px;
            margin-bottom: 32px;
            font-weight: 100;
            width: 60%;
        }


.banner .container span {
    font-size: 24px;
    margin: 0 0 20px 0;
    font-weight: 100;
}

.services .container {
    padding: 64px auto;
    height: 100vh;
}

services .container .projects .container .projects-grid .project {
    height: 50vh;
}

.services-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
}

.service {
    background-color: var(--site2);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.img-box {
    display: block;
    width: 100%;
    border-bottom: var(--after) 4px solid;
}

    .img-box img {
        display: block;
        width: 100%;
        height: 128px;
        object-fit: cover;
    }

.content {
    padding: 16px;
    text-align: center;
}

.projects .container {
    padding: 64px auto;
}

.projects-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 32px 0;
}



.project {
    background-image: url(../Images/lazienka1.jpg);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

    .project .content {
        padding: 16px;
        background-color: var(--after);
        opacity: 0;
        transition: 0.4s;
    }

    .project:hover .content {
        opacity: 0.8;
    }

    .project .content h3 {
        color: var(--background);
        font-size: 24px;
        margin-bottom: 8px;
    }

    .project .content p {
        color: var(--background);
        font-size: 16px;
        margin-bottom: 8px;
    }

.center {
    text-align: center;
}

.contact {
    background-color: var(--site2);
}

    .contact .container {
        padding: 64px auto;
    }

        .contact .container h2 {
            color: var(--background);
        }

        .contact .container form {
            display: block;
            margin: 0 auto;
            max-width: 680px;
        }

            .contact .container form .form-element, .form-area {
                appearance: none;
                border: none;
                outline: none;
                background: none;
                display: block;
                width: 100%;
                background-color: var(--background);
                border-radius: 8px;
                padding: 16px;
                font-size: 20px;
            }

            .contact .container form .contact-grid {
                display: grid;
                margin: 0 0 16px 0;
                grid-gap: 16px;
                grid-template-columns: repeat(2, 1fr);
            }

                .contact .container form .contact-grid .form-area {
                    grid-column: span 2;
                }

footer {
    background-color: var(--site2);
    padding: 4px 0;
    color: var(--background);
    text-align: center;
}
.about .container{
    min-height: 100vh; 
}
.about .container img {
    --s: 10px; /* control the size */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
}


@media screen and (max-width: 1024px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        padding-left: 64px;
        padding-right: 64px;
    }

    banner .container h2 {
        font-size: 32px;
    }

    .banner .container h3 {
        font-size: 20px;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    header .container .logo h1 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    header .container .logo img {
        display: none;
    }

    .container h2 {
        text-align: center;
    }

    .services-grid {
        grid-template-columns: 1fr;
    }
}

